@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akira Expanded";
  src: url("/fonts/akira-expanded.otf");
}

@font-face {
  font-family: "Cocogoose";
  src: url("/fonts/Cocogoose-Classic.ttf");
}

@font-face {
  font-family: "Heavitas";
  src: url("/fonts/Heavitas.ttf");
}

* {
  color-scheme: dark;
}
